
<% form_tag url_for(:action => :index) do -%>
  <%= text_field_tag :query, "" %>
  <%= submit_tag "Search" %>
<% end -%>

<% unless @results.nil? %>
  <h3>Results for the search query "<%= @query %>":</h3>
  <% if @results.count == 0 %>
    No matches found.
  <% else %>
    <%= @results.count %> products found.
    <ul>
    <% @results.each do |row| -%>
      <li><%= link_to row.name, row.url %></li>
    <% end -%>
    </ul>
  <% end %>
<% end -%>

